
body {
  background-color: cream;
  margin: 25px 50px 75px 100px;
  color: pink
}

h1 {
  background-color: pink;
 margin: 25px 50px 75px 100px;
  color: cream 	
}

h2{
  background-color: purple;
  margin: 25px 50px 75px 100px;
  color: cream 	
}

h3{  background-color: green;
  margin: 25px 50px 75px 100px;
  color: cream 	
}
