
<style>
  font-family: Arial, sans-serif;
  background-color: #fff8dc;
  text color: #000000;
  margin: 25px 50px 75px;
  padding: 25px;

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<img src=images style=”max-width: 100%;height: auto;” >

	h1 {color: #6495ed; text-align: center; font-size: 24px}
	h2 {color: #6495ed; text-align: center; font-size: 24px}
	p {color: #fff8dc; text-align: left; font-size: 12px}
</style>

