
body {
  background-color: black;
  margin: 25px 50px 75px 100px;
  color: pink;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif
}

h1 {
  background-color: pink;
 margin: 25px 50px 75px 100px;
  color: black; 	
   font-family: Arial, Helvetica, sans-serif
}

h2{
  background-color: purple;
  margin: 25px 50px 75px 100px;
  color: black; 	
   font-family: Arial, Helvetica, sans-serif
}

h3{  background-color: light green;
  margin: 25px 50px 75px 100px;
  color: black; 	
    font-family: Arial, Helvetica, sans-serif
}
